* {
  margin: 0 auto;
  padding: 0;
}
body {
  box-sizing: border-box;
  background: #222222;
  color: #ffffff;
  font-family: "Kanit", sans-serif;
}
.container {
  display: flex;
  flex-direction: column;
  max-width: 1024px;
}
header {
  width: 100%;
  padding: 5em 0;
  background-color: #ffffff;
}
.searchContainer {
  margin: 0;
  display: flex;
  height: 60px;
}
input {
  width: 85%;
  padding: 0 0.5em;
}
button {
  width: 15%;
  cursor: pointer;
}
input,
button {
  font-size: 24px;
}
